{% extends "policy_sidebar.html"%}
{% block article%}
<article class="article">
  <header class="article-header">
    <h1 title="Cleaning policy" class="article-title">
        청소정책
    </h1>
  </header>

  <section class="article-info">
    <div class="article-content">
      <div class="article-body">
          <p><span style="font-weight: 400;">차주는 대여자에게 깨끗한 자동차를 제공할 의무가 있으며 항상 깨끗한 자동차를 제공하기 위해 노력해야 합니다.</span></p>
<p><span style="font-weight: 400;">이와 마찬가지로 대여자는 차주에게 원래의 자동차와 같은 상태의 자동차를 제공할 의무가 있습니다.</span></p>
<p><span style="font-weight: 400;">차주가 예약을 마친 대여자에게 청소비용을 청구하고 싶다면 서비스가 시작된지 24시간 이내에 찍은 서비스시작 이전 사진과
서비스가 종료되고 24시간 이내에 찍은 서비스 종료후 사진을 와이카 페이지에 업로드 해야합니다. 와이카에서 청소페널티에 대한 검증이 끝나면 차주는 아래 명시된 사항에 따라서 보상을 받게 됩니다.</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">청소비용 및 벌금</span><span style="font-weight: 400;">&nbsp;</span></h2>
<p>&nbsp;</p>
<h3><span style="font-weight: 400;">청소비용 청구 불가 상태</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">소량의 쓰레기</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">차량 바닥시트를 한번 털어서 청소가능한양의 쓰레기.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">타월로 지울 수 있는 차량외관의 자국. </span></li>
</ul>
<h3><span style="font-weight: 400;">약한오염 - ₩30,000원</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">차의 외관에(차체, 바퀴,창문) 육안으로 확인가능하고 단순한 걸레질로 닦이지 않을정도의 오염이 나타남. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">차의 바닥이나 의자시트가 원래 자동차와 큰 차이가 나타나게 더러운경우(의자나 바닥시트를 치우는정도만으로 원래상태로의 복구가 어려운경우)</span></li>
</ul>
<h3><span style="font-weight: 400;">중간오염 - ₩50,000원</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">차의 외관이나 시트에 걸레질로 지우기 힘든 작은 자국이나 얼룩이 남는경우</span></li>
</ul>
<h3><span style="font-weight: 400;">강한오염 - ₩100,000원</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">차의 외관이나 시트에 걸레질로 지우기 힘든 큰 자국이나 얼룩이 남는경우</span></li>
</ul>
<h3><span style="font-weight: 400;">애완동물관련 - ₩150,000원</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">차주의 허락없이 자동차에 애완동물을 태웠을경우 차량 대여자는 차주에게 청소비용을 지급할 의무가 있습니다.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">차주의 허락이 있다고 하더라도 차에서 육안으로 확인가능한 정도의 동물 머리카락이 발견되었을 경우 대여자는 벌금을 내야합니다.</span></li>
</ul>
<h3><span style="font-weight: 400;">흡연관련 - ₩50,000, ₩150,000</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">차안에 담배냄세가 남아있는경우  ₩50,000</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">차안에 담배제나 담배로 인한 자국이 선명하게 남아있는 경우₩250,000 </span></li>
</ul>
<h3><span style="font-weight: 400;">최대청소비용청구 - ₩250,000</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">위의 청소 비용 중 여러가지 해당사항이 존재하는 경우 최대 ₩250,000까지의 수수료를 청구할 수 있습니다. </span></li>
</ul>
<p>&nbsp;</p></div>
      <div class="article-attachments">
        <ul class="attachments">
        </ul>
      </div>
    </div>
  </section>
</article>
{% endblock %}
