{% extends "policy_sidebar.html"%}
{% block article %}
<article class="article">
      <header class="article-header">
        <h1 title="Late return policy" class="article-title">
            반납지연정책
        </h1>
      </header>
      <section class="article-info">
        <div class="article-content">
          <div class="article-body">
            <p><span style="font-weight: 400;">와이카의 차주는 대여자가&nbsp;차량을 예약에 명시된 시간에 갖다 놓을것을 굳건히 믿고있습니다.&nbsp;대여자의 반납지연은 차주뿐만아니라 다른대여자에게도 큰 피해를 줄 수 있습니다.</span></p>
            <p><span style="font-weight: 400;"><strong>만약 개인의 사정이 생겨 차량을 제시간에 반납 할 수 없는경우 차주에게 연락을 주고 와이카에서 다음시간대의 예약을 진행해야 합니다.&nbsp;만약 해당시간의 예약을 진행할 수 없는경우 &nbsp; </strong>(해당시간의 차주의 차량이 다른예약이 잡혀있는경우 등)<strong>대여자는 이에대한 벌금을 지불해야 합니다.</strong></span></p>
            <p><span style="font-weight: 400;">반납지연에 대해서는 시간당 5만원 최대 20만원의 비용을 청구할 수 있습니다. 이중 와이카 관리비로 15%의 금액이 지급됩니다.</span></p>
            <p><span style="font-weight: 400;">대여자측에서 반납지연에 대해 반박하는 경우 차주는 차의 반납시간이 찍힌 사진을 와이카측에 재출해야 합니다.</span></p>
          </div>
          <div class="article-attachments">
            <ul class="attachments"></ul>
          </div>
        </div>
      </section>
</article>
{% endblock %}
