.pictureButton{   position: absolute;
     right: 0px;
     top: 0px;
     font-family: Arial;
     font-size: 118px;
     margin: 0px;
     padding: 0px;
     cursor: pointer;
     opacity: 0;
     height: 100%;
 }

 .upload--withOverlay{
     position: relative; overflow: hidden; direction: ltr;
 }
