{% extends "base_temp.html"%}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='wicar_search/build/static/css/main.fe9414c2.css')}}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}

{% block content%}
    <div>
        {% from "_formhelpers.html" import render_searchForm %}
        {{render_searchForm(form,page="/car_search")}}
    </div>
    <div id="root_react"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var queryUrl = {{url_for('carupload_api_app.return_address')|tojson}};
        var start_date = {{start_date|tojson}};
        var end_date = {{end_date|tojson}};
    </script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="{{ url_for('static',filename='js/carbooking/searchform.js',version='1.66' )}}"></script>
    <script src="{{ url_for('static',filename='wicar_search/build/static/js/main.19e33db2.js' )}}"></script>
{% endblock %}