{% extends "base_temp.html"%}
{% block content%}

<div class="container container--fluid container--darkBackground interstitial interstitial--handOnControls u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <p class="supertitle">더 이상 내자동차 홍보는</p>
        <h1>어렵지 않습니다</h1>

        <p>10분만에 업주님들의 소중한 자동차들을 등록하세요</p>

        <div class="buttonWrapper">
            <a href="{{url_for('carupload_app.register_car')}}" class="button button--purple button--large">차를 빌려줄래요</a>
        </div>
        {% from "_helpers.html" import render_btn %}
        {{ render_btn('owner')}}
    </div>
</div>


<div class="container container--fluid container--darkBackground interstitial u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h3>Wi-CAR하기</h3>

        <div class="section section--withMediumMargin">
            <div class="grid grid--withVerticalSpacing">
                <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small12">
                    <div class="supertitle">가격책정</div>
                    <hr class="hr--small">
                    <p>매일매일 일해야 하는 일꾼들이 주차장에 있나요? 매일매일 가격조정을 통해 최대한 많은 일을 시켜보세요 </p>
                </div>
                <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small12">
                    <div class="supertitle">자동차 관리</div>
                    <hr class="hr--small">
                    <p>당신의 고객들은 편리한 Wi-CAR플랫폼을 통해 분쟁사항을 줄일 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container--fluid container--purpleBackground interstitial u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h3>어떻게 진행되나요??</h3>

        <div class="section section--withMediumMargin">
            <div class="grid grid--withVerticalSpacing">
                <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small12 iconWithDescription">
                    <div class="iconWithDescription-image listYourCarIcon listYourCarIcon--shield"></div>
                    <div class="iconWithDescription-description">
                        <div class="supertitle">고객님의 자동차 정보를 입력하면 됩니다</div>
                        <p>고객님의 멋진 자동차를 마음껏 보여주세요</p>
                    </div>
                </div>
                <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small12 iconWithDescription">
                    <div class="iconWithDescription-image listYourCarIcon listYourCarIcon--car"></div>
                    <div class="iconWithDescription-description">
                        <div class="supertitle">고객님이 모든것을 제어할 수 있습니다 </div>
                        <p>자동차 대여료부터 운행거리 제한 까지 직접 설정해보세요 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-alignCenter supertitle section section--withMediumMargin">
            <p></p>
            <div>업주님들의 일꾼들을 등록하는 것은 당연히! 무료입니다.</div>
            <p></p>
        </div>
    </div>
</div>
<div class="container container--fluid interstitial u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h5>세상에서 가장 쉬운 차량등록을 지금 하세요</h5>
        <div class="buttonWrapper">
            <a class="button button--large" href="{{url_for('carupload_app.register_car')}}" rel="nofollow">등록하기</a>
        </div>
    </div>
</div>
{% endblock%}
