{% extends "base_temp.html" %}
{%block style%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='wicar_search/build/static/css/main.fe9414c2.css')}}">
{% endblock %}
{% block content%}

    <div id="pageContainer-content">
        <div>
            <div class="earningsSummaryList container u-contentTopPadding u-contentBottomPadding">
                <div aria-busy="false">
                    <div class="earningsSummaryList-header">
                        <h5 class="earningsSummaryList-title">입금지급내역보기</h5>
                        <!-- <a class="button button--purple button--smaller" href="/earnings/csv">Download CSV</a> -->
                    </div>
                    <div class="earningsSummaryList-infoContainer">
                        <div class="earningsSummaryList-infoSection earningsSummaryList-infoSection--info">
                            <div class="earningsSummaryList-infoSectionItem label">
                                {% if bank %}
                                    <div class="text--small">고객님의 계좌</div>
                                    <div class="earningsSummaryList-value value">{{bank.bank_name}}
                                        {{bank.account_num[:3]}}●●●●●</div>
                                {% else %}
                                    <div class="text--small">계좌를 등록해주세요.</div>
                                    <div class="earningsSummaryList-value value"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="earningsSummaryList-infoSection earningsSummaryList-infoSection--updateButton">
                            <div class="buttonWrapper buttonWrapper--noTopMargin">
                                {% if bank %}
                                    <a class="dialog-link button button--smaller" data-toggle="modal" href="#modifyBank">수정하기</a>
                                {% else %}
                                    <a class="dialog-link button button--smaller" data-toggle="modal" href="#modifyBank">등록하기</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <span class="errorMessage-text js-locationErrorText">{{messages[0]}}</span>
                    {% endif %}
                    {% endwith %}
                    <br/><br/>
                    {% if carList %}
                        <div class="container-fluid">
                            <div class="row">
                                <h5 class="earningsSummaryList-title">자동차선택하기</h5>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-3">
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control" id="sel1" onchange="javascript:handleSelect(this)">
                                                {% if car_id == "" %}
                                                    <option selected="selected" href="#">모든자동차</option>
                                                {% else %}
                                                    <option selected="selected" value="{{url_for('carshare_app.earning_history')}}">모든자동차</option>
                                                {% endif %}
                                                {% for car in carList %}
                                                    {% if car_id == car.id %}
                                                        <option selected="selected" href="#">{{car.brand}}
                                                            {{car.class_name}}
                                                            {{car.caroption.plate_num if car.caroption else ""}}</option>
                                                    {% else %}
                                                        <option value="{{url_for('carshare_app.earning_history_bycar',car_id=car.id)}}">{{car.brand}}
                                                            {{car.class_name}}
                                                            {{car.caroption.plate_num if car.caroption else ""}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="earningsSummaryList-historyTable">
                        <div class="earningsSummaryList-tableHeader">
                            <div class="earningsSummaryList-tableHeaderCell earningsSummaryList-tableHeaderCell--type label">
                                <p>예약</p>
                            </div>
                            <div class="earningsSummaryList-tableHeaderCell earningsSummaryList-tableHeaderCell--date label">
                                <p>날짜</p>
                            </div>
                            <div class="earningsSummaryList-tableHeaderCell earningsSummaryList-tableHeaderCell--payment label">
                                <p>지급액</p>
                            </div>
                        </div>
                        {%if owner_send_list %}
                            {% for owner_send in owner_send_list %}
                                <div class="earningsSummary">
                                    <div class="earningsSummary-description">
                                        <a class="earningsSummary-type" href="{{url_for('carshare_app.owner_recipt',owner_send_id=owner_send.id)}}">
                                            <span class="earningsSummary-driverInfo">{{owner_send.booking.car.user.name}}님의</span>
                                            <span class="earningsSummary-vehicleInfo">{{owner_send.booking.car.brand}}
                                                {{owner_send.booking.car.class_name}}대여</span>
                                        </a>
                                    </div>
                                    <div class="earningsSummary-date">{{owner_send.register_date.year}}년
                                        {{owner_send.register_date.month}}월
                                        {{owner_send.register_date.day}}일</div>
                                    <div class="earningsSummary-payment">{{owner_send.tran_amt}}₩</div>
                                </div>
                            {% endfor %}
                        {%else %}
                            <div class="earningsSummary-description">입금내역이 없습니다.</div>
                            <div class="earningsSummary-description"></div>
                            <div class="earningsSummary-description"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock %}

{% block modal %}
    {% from "_formhelpers.html" import render_bank_account_modal %}
    {{ render_bank_account_modal(bankForm) }}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function handleSelect(elm) {
            window.location = elm.value;
        }
    </script>
{% endblock %}