{% extends "base_temp.html"%}


    <!--BEGIN_CONTENT-->
{% block content%}
<div class="container container--fluid container--darkBackground interstitial interstitial--confidentDriver u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h1 class="herotitle">
            <span class="herotitle-title" id="insurance_title">안전하게 빌리고 마음껏 즐기세요^^</span>
        </h1>
        <p class="text--large">Wi-CAR에겐 고객님의 안전이 최우선입니다</p>
    </div>
</div>
<div class="container container--fluid interstitial">
    <div class="container u-alignCenter">

        <h3 class="text--purple">KB 손해보험이 여러분의 안전을 책임집니다</h3>
        <div class="horizontalDivider horizontalDivider--small"></div>
        <div class="grid grid--withVerticalSpacing u-contentTopPadding"></div>
        <div class="u-contentTopPadding">
            <a href="#" class="button button--purple button--large">더보기</a>
        </div>
    </div>
</div>
{% endblock %}
